{
  "openapi": "3.0.0",
  "info": {
    "title": "PostNL Barcode API",
    "description": " The PostNL Barcode API is a RESTful API that generates 3S-barcodes for domestic and European parcel flows. Additional barcode domestic types may be added in future versions. Barcodes for non-european and mailpackets are generated automatically during Shipment v4 creation and cannot not be requested via this endpoint.",
    "termsOfService": "https://www.postnl.nl/en/terms-and-conditions/business/",
    "contact": {
      "name": "PostNL",
      "url": "https://developer.postnl.nl/support/"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://api-sandbox.postnl.nl",
      "description": "Non-Production server"
    },
    {
      "url": "https://api.postnl.nl",
      "description": "Production server"
    }
  ],
    "security": [
    {
      "apikey": []
    }
  ],
  "paths": {
    "/shipment/delivery/v4/barcode": {
      "post": {
        "description": "Generates a 3S barcode for domestic and European flows. Optional fields allow specifying the barcode type, a numeric range, and the number of barcodes to return.",
        "operationId": "CreateBarcodes",
        "requestBody": {
          "description": "The payload providing customer details and specifications on the barcode(s) to generate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBarcodesRequest"
              },
              "example": {
                "summary": "Minimal request with required fields only",
                "value": {
                  "customerNumber": "11223344",
                  "customerCode": "DEVC"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBarcodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or more business errors occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateBarcodesResponse": {
        "type": "object",
        "description": "Response object containing the generated barcodes and optional warnings or metadata.",
        "additionalProperties": false,
        "properties": {
          "barcodes": {
            "type": "array",
            "example": [
              "3SDEVC090807060"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BadRequestResponse": {
        "type": "object",
        "description": "The fields returned in a bad request response.",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "description": "A URI reference that identifies the problem type according to RFC 9457.",
            "example": "https://tools.ietf.org/html/rfc9457#section-3.1"
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type.",
            "example": "One or more validation errors occurred."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code generated by the origin server.",
            "example": 400
          },
          "errors": {
            "type": "object",
            "description": "A map of error categories to lists of error messages.",
            "example": {
              "CustomerCode": [
                "CustomerCode must be 1-4 letters."
              ]
            },
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "traceId": {
            "type": "string",
            "example": "00-f8bd486e5e0079e87aaf596c95c7fa34-e9d798feb208535f-01"
          }
        }
      },
      "CreateBarcodesRequest": {
        "type": "object",
        "description": "Input parameters for generating barcodes, customer details, optional numeric range and quantity.",
        "additionalProperties": false,
        "required": [
          "customerNumber",
          "customerCode"
        ],
        "properties": {
          "customerNumber": {
            "type": "string",
            "description": "Your customer number assigned by PostNL. Consult the 'Manage API'-module in 'MijnPostNL zakelijk' for your API-account details.",
            "maxLength": 10,
            "minLength": 1,
            "pattern": "^\\d+$",
            "example": "11223344"
          },
          "customerCode": {
            "type": "string",
            "description": "Your customer code assigned by PostNL. Consult the 'Manage API'-module in 'MijnPostNL zakelijk' for your API-account details.  customerCode provided by PostNL, only allowed characters",
            "maxLength": 4,
            "minLength": 1,
            "pattern": "^[A-Za-z]{1,4}$",
            "example": "DEVC"
          },
          "serieStart": {
            "type": "string",
            "description": "Lower bound of the barcode range. Must be provided together with serieEnd. Digits only, same length as serieEnd. Returned barcodes in the array are greater than or equal to this value.",
            "default": "000000000",
            "maxLength": 9,
            "minLength": 7,
            "pattern": "^\\d{7,9}$",
            "example": "000000000"
          },
          "serieEnd": {
            "type": "string",
            "description": "Upper bound of the barcode range. Must be provided together with serieStart. Digits only, same length as serieStart. Returned barcodes in the array are less than or equal to this value.",
            "default": "999999999",
            "maxLength": 9,
            "minLength": 7,
            "pattern": "^\\d{7,9}$",
            "example": "999999999"
          },
          "numberOfBarcodes": {
            "type": "integer",
            "description": "Number of barcodes to return. Defaults to one. When a range is supplied, all identifiers fall within it.",
            "default": 1,
            "maximum": 100.0,
            "minimum": 1.0,
            "example": 1
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Failed to resolve API Key variable 'request.header.apikey'"
          },
          "http_status_code": {
            "type": "number",
            "example": 401
          }
        }
      },
      "MethodNotAllowed": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Only POST requests allowed"
          },
          "http_status_code": {
            "type": "number",
            "example": 405
          }
        }
      },
      "TooManyRequests": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Too many requests. Rate limit exceeded!"
          },
          "http_status_code": {
            "type": "number",
            "example": 429
          }
        }
      }
    },
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "header"
      }
    }
  },
  "externalDocs": {
    "description": "Find our API documentation here",
    "url": "https://developer.postnl.nl/docs/#/http/api-endpoints/send-track/barcode/generate-barcode"
  }
}